
@{
    ViewBag.Title = "Review";
}


<head>
    

    <title> Reviews Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->
    <!-------------- Font Awesome Link -------------->
    <script src="https://kit.fontawesome.com/de270889e1.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/Review.css">



</head>



<body>

    <div class="container">
        <!-- START: Posts FullWidth -->
        <div class="nk-blog-fullwidth">

            <!-- START: Post -->
            <div class="nk-blog-post">
                <a href="https://10times.com/rage" class="nk-post-img">
                    <img src="~/Assets/rAge-Expo.jpg" alt="">
                    <span class="nk-post-comments-count"></span>
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4"><a href="">Rage Expo</a></h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>
                                <b>"The wholesale gathering of South Africas thriving gaming and technology community."</b>
                                rAge is a must-attend event in South Africa for gaming, technology, esports, and geek culture enthusiasts.
                                With diverse exhibitors showcasing everything from gaming merchandise to virtual reality setups,
                                it attracts a wide range of fans.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by">
                            <img src="~/Assets/avatar-1.jpg" alt="Dark Hound" class="rounded-circle" width="80">
                            by <a href="#">Hitman</a>

                            <br> 08 - 10 Dec, 2023
                            <br> 4 comments
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a href="https://10times.com/rage" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Post -->
            <!-- START: Post -->
            <div class="nk-blog-post">
                <a href="https://joburg.co.za/event/boyz-ii-men-south-african-tour-2023/" class="nk-post-img">
                    <img src="~/Assets/BOYZ-II-MEN.png" alt="">
                    <span class="nk-post-comments-count"></span>
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4"><a href="">BOYZ II MEN (Sold Out)</a></h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>
                                The tour will kick off in The Mother City (Cape Town) on Tuesday, the 31st October 2023.
                                They will also be giving a performance in Pretoria at the SunBet Arena, Time Square on Thursday,
                                2nd November before concluding in the North West at the Superbowl in Sun City on Saturday,
                                the 4th November 2023. The American vocal group is one of the most iconic R&B groups in the music industry.
                                Their timeless hits live on and are still celebrated two decades on.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by">
                            <img src="~/Assets/avatar-3.png" alt="Miss Witch" class="rounded-circle" width="60">
                            by <a href="#">Witch Murder</a>

                            <br> 31 Oct, 02 & 04 Nov, 2023
                            <br> 7 comments
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a href="https://joburg.co.za/event/boyz-ii-men-south-african-tour-2023/" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Post -->
            <!-- START: Post -->
            <div class="nk-blog-post">
                <a href="https://10times.com/e13x-d1hh-4gx4" class="nk-post-img">
                    <img src="~/Assets/Cyber-Security-2023.jpg" alt="">
                    <span class="nk-post-comments-count"></span>
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4"><a href="">Cyber Security Conference</a></h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>
                                The Cyber Security Conference is a gathering of cybersecurity professionals from various industries
                                to discuss the rising levels of cybercrime and the importance of security in the digital age.
                                Experts will share insights and strategies to improve security risk management and address the
                                challenges posed by cyber threats.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by">
                            <img src="~/Assets/avatar-2.jpg" alt="Wolfenstein" class="rounded-circle" width="60">
                            by <a href="#">Wolfenstein</a>

                            <br> 02 - 03 Nov, 2023
                            <br> 7 comments
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a href="https://10times.com/e13x-d1hh-4gx4" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Post -->
            <!-- START: Post -->
            <div class="nk-blog-post">
                <a href="https://www.quicket.co.za/events/203533-g-eazy-live-in-cape-town-at-ignite-secrets-of-summer-new-years-eve/?ref=events-list#/" class="nk-post-img">
                    <img src="~/Assets/G-eazy.jpg" alt="">
                    <span class="nk-post-comments-count"></span>
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4">G-Eazy LIVE In Cape Town At Ignite Secrets Of Summer New Year's Eve</h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>
                                Get ready to redefine New Year's Eve with Ignite Secrets 2023, because we're bringing you a game-changer!
                                G-Eazy is coming to South Africa for the very first time! With a plethora of platinum hits, chart-toppers
                                like "Me, Myself & I" "Him and I" and "No Limit," and collaborations with music legends such as Lil Wayne,
                                Cardi B, Dave East, Post Malone, French Motana, A$AP Rockey, Halsey and many other A-List artists. G-Eazy
                                isn't just a headline act, he's a global music phenomenon. And he's here to usher in 2024 with a performance
                                you won't forget.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by">
                            <img src="~/Assets/avatar-1.jpg" alt="Dark Hound" class="rounded-circle" width="60">
                            by <a href="#">Hitman</a>

                            <br> in Dec 31, 2023
                            <br> 23 comments
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a href="https://www.quicket.co.za/events/203533-g-eazy-live-in-cape-town-at-ignite-secrets-of-summer-new-years-eve/?ref=events-list#/" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Post -->
            <!-- START: Post -->
            <div class="nk-blog-post">
                <a href="https://www.dreamteam.co.za/teambuilding-events/team-building/squad-game" class="nk-post-img">
                    <img src="~/Assets/Squad_Game.jpg" alt="">
                    <span class="nk-post-comments-count"></span>
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4"><a href="">Squad Game (Team Building)</a></h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>
                                Squad Game is an engaging team-based challenge that has all the excitement and intrigue
                                but none of the individualism or physical danger of the hit TV series. There are no long
                                complicated briefs or confusing instructions. The games are simple to understand and the
                                objective and rules are always clear. However charting a path to success is a challenge and
                                there is always another team that you must outperform to win.
                                The challenges are varied and get progressively more difficult with each new round meaning
                                you’ll have to dig a little deeper and adapt with agility and intelligence to be successful.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by">
                            <img src="~/Assets/avatar-2.jpg" alt="Wolfenstein" class="rounded-circle" width="60">
                            by <a href="#">Wolfenstein</a>

                            <br> in Feb 3, 2021
                            <br> 13 comments
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a href="https://www.dreamteam.co.za/teambuilding-events/team-building/squad-game" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Post -->
            <!-- START: Post -->
            <div class="nk-blog-post">
                <a href="https://www.teamland.com/experiences/virtual-game-show" class="nk-post-img">
                    <img src="~/Assets/Teamland-gameshow.jpg" alt="">
                    <span class="nk-post-comments-count"></span>
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4"><a href="">Virtual Game Show (Team Building)</a></h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>
                                Participants can join from anywhere in the world in this online game show activity for remote teams.
                                Remote colleagues will use a video conferencing platform alongside Teamland’s proprietary app to
                                split into teams and compete against one another.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by">
                            <img src="~/Assets/avatar-3.png" alt="Kina" class="rounded-circle" width="60">
                            by <a href="#">Kina</a>

                            <br> in Apr 17, 2021
                            <br> 0 comments
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a href="https://www.teamland.com/experiences/virtual-game-show" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Post -->

            <div class="nk-gap-2"></div>

        </div>
    </div>

    <!-- START: Page Background -->

    <video class="nk-page-background-top" src="~/Assets/pexels-koolshooters-7683153 (2160p).mp4" autoplay muted loop></video>
    <video class="nk-page-background-bottom" src="~/Assets/pexels-mohammad-taqi-6057470 (2160p).mp4" autoplay muted loop></video>

    <!-- END: Page Background -->

</body>
